.block {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.8rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    margin: 1rem;
}

.text {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.text:hover {
    cursor: pointer;
}

.change {
    color: #5d92ff;
}

.delete {
    color: red;
}

.btn {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}